*{
    font-family: sans-serif;
    background-color: whitesmoke;
}

/* current date and time*/
#timeStamp{
    text-align: center;
    font-size: 36px;   
}

h1{
    text-align: center;
}
/* main container with hours, form, and aside buttons */

/* hour by hour list */
ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 10%;
}

.timeSlots{
    border-right: solid;
    border-top: dashed;
    border-bottom: dashed;
    line-height: 4em;
    margin: .15em;
    border-radius: 8px;
    text-align: center;
}


/* form for user input */

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 13px;
    justify-content: space-evenly;
}

input{
    line-height: 4em;
    width: 80%;
}

.tasks{
    line-height: 4em;
    margin: .15em 1em;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-size: 15px;
}

/* buttons */

aside{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    justify-content: space-evenly;
    width: 10%;
}

.saveBtn{
    border: solid black;
    line-height: 4em;
    margin: .15em;
    border-radius: 8px; 
    background-color: blue;
    color: white;
    font-weight: bold;
}

.saveBtn:hover{
    cursor: pointer;
    border: solid green;
    
}

.saveBtn:active{
    transform: scale(.75);
   
}

.timeStamp{
    margin-right: 12px;
    color: black;
    font-size: 30px;
    line-height: 3em;
    width: 10%;

}
/* time blocks */
.past {
    background-color: #a7a5a5;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }